.zen-old mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Zen Old Mincho", serif;
  box-sizing: border-box;
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
画面上にスクロールボタン
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
#backToTopBtn {
  /* display: none; */
  /* 初期状態では非表示 */
  position: fixed;
  /* 固定位置 */
  bottom: 20px;
  /* 画面下からの距離 */
  right: 20px;
  /* 画面右からの距離 */
  width: 40px;
  height: 40px;
  border: none;
  background-color: #99c520;
  /* ボタンの背景色 */
  color: #fff;
  /* ボタンのテキスト色 */
  font-size: 24px;
  border-radius: 50%;
  /* 角丸 */
  cursor: pointer;
  z-index: 1000;
  /* 他の要素よりも上に表示 */
  padding-left: 7px;
}

#backToTopBtn:hover {
  background-color: greenyellow;
  /* マウスホバー時の背景色 */
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
パンクくずリスト
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
#breadcrumb {
  font-size: 16px;
  height: 40px;
  display: flex;
  align-items: center;
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

#breadcrumb ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

#breadcrumb li {
  display: inline-block;
  margin-right: 5px;
  color: gray;
}

.breadcrumbHome:hover {
  border-bottom: 1px solid gray;
}

#breadcrumb li:last-child {
  font-weight: bold;
}

.breadcrumbIcon {
  display: inline-block;
  width: 20px;
  /* アイコンの幅 */
  height: 16px;
  /* アイコンの高さ */
  background-image: url('images/homeIcon.png');
  /* アイコン画像のURL */
  background-size: cover;
  /* 画像を要素全体に広げる */
  background-repeat: no-repeat;
  /* 画像の繰り返しを無効にする */
  filter: opacity(0.3);
}


/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
ヘッダー
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/* .header {
} */

.header_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
  width: 80%;
  max-width: 1024px;
}

.header_logo h1 {
  font-size: 50px;
}

.reservationButton {
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid orangered;
}

.header_navi_back {
  background-color: green;
  color: white;
}

.header_navi_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  width: 90%;
  height: 60px;
}

.header_navi_list div {
  border-left: 1px solid ghostwhite;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  position: relative;
}

.header_navi_list div:last-child {
  border-right: 1px solid ghostwhite;
}

.header_navi_list div:hover {
  background-color: rgb(0, 158, 0);
}

.header_navi_list a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  /* リンクの下線を削除 */
  color: inherit;
  /* リンクの色を親要素と同じにする */
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  /* 上端に配置 */
  left: 0;
  /* 左端に配置 */
  line-height: 3.5;
}


/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
フッター
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
footer {
  background-color: green;
  color: white;
  margin-top: 20px;
}

.footer_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 0;
  max-width: 789px;
  width: 70%;
}

.footer_left h1 {
  font-size: 40px;
}

.footer_left p {
  margin: 20px 0;
  line-height: 2;
}

.footer_right div {
  width: 150px;
  margin: 5px 30px 5px 0;
  font-weight: bold;
  height: 30px;
  position: relative;
  /* display: block; */
}

.footer_right a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  /* リンクの下線を削除 */
  color: inherit;
  /* リンクの色を親要素と同じにする */
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  /* 上端に配置 */
  left: 0;
  /* 左端に配置 */
  line-height: 2;
}

.footer_right div:hover {
  border-bottom: 1px solid white;
}

.footer_copy {
  background-color: gray;
  text-align: center;
  padding: 10px;
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
メイン
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.FV {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
}

.FV_text {
  position: relative;
  height: 100%;
  width: auto;
}

.FV_text p {
  position: absolute;
  top: 50%;
  left: 250px;
  word-break: keep-all;
  font-size: 35px;
  color: green;
}

.FV_image {
  width: 55%;
  height: 100%;
  background-image: url("images/seizitu.jpg");
  background-size: auto 100%;
  /* 画像の縦幅を100%に広げ、横幅を自動調整 */
  background-position: center;
  /* 画像を要素の中央に配置 */
  background-repeat: no-repeat;
  /* 背景画像の繰り返しを無効にする */
}

.articleMain {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto 100px;
}

.titleStyle {
  font-size: 30px;
  background-color: #99c520;
  padding: 20px;
  border-radius: 10px;
  border: 3px dotted green;
  color: white;
  margin: 10px 0 30px;
}

.text {
  line-height: 2;
  margin-bottom: 50px;
}

.news-item {
  padding: 20px 0;
}

.seminer_contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.seminer_item {
  width: 30%;
}

.seminer_item_image {
  width: 100%;
  height: 300px;
  background-image: url(images/seminer.jpg);
  background-size: auto 100%;
  /* 画像の縦幅を100%に広げ、横幅を自動調整 */
  background-position: center;
  /* 画像を要素の中央に配置 */
  background-repeat: no-repeat;
  /* 背景画像の繰り返しを無効にする */
}

.seminer_item_text p {
  text-align: right;
}

.form p {
  line-height: 2;
  margin-bottom: 20px;
}

.form p a {
  color: blue;
}

.form p a:hover {
  color: red;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: inline-block;
  /* ラベルをブロック要素として表示 */
  width: 150px;
  /* ラベルの幅を固定 */
  margin-right: 20px;
  /* ラベルと入力欄の間に余白を追加 */
  text-align: right;
  /* ラベルのテキストを右寄せ */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid #ccc;
  /* 枠線のスタイルと色を指定 */
  padding: 8px;
  /* 入力欄の内側の余白 */
  width: 50%;
  /* 入力欄の幅をラベルの幅を除いた幅に設定 */
  padding: 8px;
  /* 入力欄の内側の余白 */
}

textarea {
  height: 200px;
}

.form-group button {
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 5px solid orangered;
  margin-left: 170px;
}


/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
自己紹介
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.mainTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  color: white;
  background-image: url(images/top_backimage2.jpg);
  background-size: cover;
  background-position: 0 -500px;
  background-repeat: no-repeat;
}

.mainTop_cover {
  background-color: #99c520bd;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainTop h2 {
  font-size: 40px;
  /* text-align: center; */
}

.introduction {
  width: 100%;
  height: 500px;
  background-color: gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction_contents {
  max-width: 1024px;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introduction_left {
  width: 40vw;
  height: 100%;
  background: url(images/seizitu.jpg) no-repeat center center;
}

.introduction_right_title1 {
  margin-bottom: 5px;
}

.introduction_right_title2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.introduction_right_title3 {
  margin-bottom: 20px;
}

.introduction_right_text {
  line-height: 2;
}

.profile_contents4_item {
  margin-bottom: 20px;
}


/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
サービス案内
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.service_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.service_top_left {
  width: 50vw;
  flex: 6;
}

.service_text {
  line-height: 2;
}

.service_text a {
  color: blue;
  font-weight: bold;
}

.service_text a:hover {
  color: red;
}

.service_top_right {
  height: 200px;
  flex: 4;
}

.service_top_img {
  height: 100%;
  width: auto;
  background: url(images/service.jpeg) no-repeat center bottom/cover;
}

.titleStyleH3 {
  font-size: 30px;
  padding: 20px 10px;
  border-top: 1px dotted rgb(8, 5, 5)2, 2, 2);
  border-bottom: 1px dotted gray;
  margin: 50px 0 20px;
  background-color: ghostwhite;
}

.titleStyleH3::before {
  content: '●';
  display: inline-block;
  color: #99c520;
  font-size: 20px;
  margin-right: 10px;
}


/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
お役立ち情報
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
.lifehack_single {
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid gainsboro;
  margin-top: 20px;
}

.lifehack_single_imgbox {
  width: 40vw;
  height: 100%;
  padding: 0 0 20px 0;
}

.lifehack_single_img {
  width: auto;
  height: 100%;
  background: url(images/hoken.jpeg) no-repeat center center/cover;
}

.lifehack_single_contents {
  margin: 0 0 20px 30px;
}

.lifehack_single_contents_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.lifehack_single_contents_item p {
  font-size: 12px;
}

.lifehack_single_contents_item p:last-child {
  font-size: 12px;
  background-color: #99c520;
  color: white;
  padding: 5px;
  border: 1px solid gray;
}

.lifehack_single_contents_title {
  font-size: 20px;
  margin-bottom: 10px;
}

.lifehack_single_contents_text {
  font-size: 14px;
}

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
Q&A
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/

/*ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー 
セミナー案内
ーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/